<div
  #noteFormDom
  class="note"
  [class.selected]="_note.selected"
  (click)="toTop()"
  (mousedown)="toTop()"
  (dblclick)="startEdit();"
  [style.left.px]="note.left" [style.top.px]="note.top" [style.z-index]="note.zindex">
  <span class="header" [style.background]="color"></span>
  <span>
    Title: <input #titleInput *ngIf="isEditing" type="text" (keydown.enter)="save()" [(ngModel)]="_note.shadowNote.title" (ngModelChange)="modelChange()" placeholder="請輸入標題">
            <span *ngIf="!isEditing">{{ note.title || '無標題' }}</span>
      <span *ngIf="isEditing"><img
          (click)="palette.click()"
          src="assets/palette.png"><input
            #palette
            class="hidden"
            type="color"
            [(ngModel)]="_note.shadowNote.color"
            (ngModelChange)="modelChange()"
            ></span>
  </span>
  <div class="contant-wrapper">
    <span style="padding-right: 5px">Content:</span>
    <div>
      <textarea
        #contentInput
        class="content"
        *ngIf="isEditing"
        (keydown)="onKeydown($event)"
        [(ngModel)]="_note.shadowNote.content"
        (input)="onContentInput()"></textarea>
      <div *ngIf="!isEditing" class="content text">{{note.content}}</div>
    </div>
  </div>
</div>
